vendor/
# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.classpath
.project
.settings/
.vscode/
ios/iden3CoreSDK.xcodeproj/project.xcworkspace
ios/iden3CoreSDK.xcodeproj/xcshareddata
ios/iden3CoreSDK.xcodeproj/xcuserdata
ios/iden3CoreSDK/Iden3mobile.framework
